/*
 * Estilos de tu proyecto
 */

.barranav{
  position: fixed;
  padding: 15px 0px;
}
.barranav li{
  display: inline-block;
}

nav a{
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color:#fff;
  text-decoration: none;
}

.prueba{
  text-align:center;
  left: 100px;
  font-size: 25px
}

.marginTop{
 margin-top: 200px;
}
.cuadro{
  width: 100%;
}
hr.star{
  display: inline-block;
  text-align: center;
  max-width: 300px;
}

hr.star:after {
  display: inline-block;
  position: relative;
  top: -0.2em;
  content: "\f005";
}
